/*box1
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 480px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    body {
        background-color: var(--main-background);
        background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
        position: relative;
        font-family: "Poppins", sans-serif;
    }

    .head-container {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        box-shadow: var(--box-shadow-1);
        align-items: center;
        width: 100%;
        height: auto;
        background-color: var(--header-color);
        z-index: 1000;
    }

    .head-links {
        display: flex;
        margin-right: 1rem;
        justify-content: space-between;
    }

    .head-links ul {
        display: flex;
        padding: 0.5rem;
        gap: 2rem;
        margin: 0;
    }

    .head-links ul li {
        display: flex;
        justify-content: space-evenly;
    }

    .head-links ul li a {
        font-size: clamp(0.90rem, 1.5vw, 1.87rem);
        color: var(--text-color-1);
        cursor: pointer;
    }

    .head-links ul li a:hover {
        color: #f7ff00;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .logo img {
        padding-left: 1rem;
        width: clamp(1.70rem, 5vw, 3.54rem);
        height: auto;
    }

    .logo-text {
        color: var(--text-color-1);
        font-size: clamp(0.90rem, 1.5vw, 1.87rem);
    }

    .main-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 5rem 1rem 5rem;
        margin-top: 3rem;
        justify-content: center;
    }

    .hero-title h1 {
        text-align: center;
        color: var(--accent-color-btn);
        font-size: clamp(3.014rem, 5vw, 6.24rem);
        text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.486);
        margin: 5rem 0rem 0rem 0rem;
    }

    .hero-content h3 {
        text-align: center;
        font-size: clamp(1.80rem, 2vw, 2.49rem);
        padding: 2rem 5rem 2rem 5rem;
        color: rgb(0, 0, 0);
        text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.265);
        margin: 2rem 0rem 0rem 0rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem 10rem 0rem;
        border-bottom: 3px rgb(39, 36, 45) solid;
    }

    .hero-button {
        position: relative;
        padding: 3px;
        background: linear-gradient(90deg, #03a9f4, #f441a5);
        border-radius: 0.9em;
        transition: all 0.4s ease;
    }

    .button {
        font-size: clamp(1.20rem, 2vw,2.49rem);
        padding: 0.6em 2em;
        border-radius: 0.5em;
        border: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        box-shadow: 2px 2px 3px #000000b4;
    }

    .hero-button::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 0.9em;
        z-index: -10;
        filter: blur(0);
        transition: filter 0.4s ease;
    }

    .hero-button:hover::before {
        background: linear-gradient(90deg, #03a9f4, #f441a5);
        filter: blur(1.2em);
    }

    .hero-button:active::before {
        filter: blur(0.2em);
    }

    .events-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 3rem;
    }

    .events-title h1 {
        text-align: center;
        font-size: 5rem;
        color: var(--accent-color-btn);
    }

    .events-content {
        display: flex;
        flex-direction: column;
    }

    .event-selector {
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .event-selector a {
        color: var(--text-color-2);
        font-weight: 500;
        font-size: clamp(1.80rem, 3vw, 3.6rem);
    }

    .event-selector a:hover {
        text-decoration: underline;
    }

    .current-event-container {
        padding: 3rem 5rem 3rem 5rem;
        width: 100%;
    }

    .cards-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 1rem;
        padding: 1rem;
    }

    .cards{
        border: 1px rgba(152, 152, 152, 0.334) solid;
        border-radius: 10px;
        flex: 1 1 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 300px;
        box-shadow: var(--box-shadow-1);
    }

    .event-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .event-title {
        padding: 1rem;
        text-align: center;
        font-weight: bold;
        box-shadow: var(--box-shadow-2);
        margin: 1rem 0rem;
        border-radius: 10px;
        background: linear-gradient(90deg,rgba(145, 68, 212, 1) 0%, rgba(0, 212, 255, 1) 100%);
        border: 2px rgb(18, 3, 60) solid;
    }

    .event-title a{
        color: var(--text-color-1);
        font-size: clamp(1.80rem, 3vw, 3.74rem);
    }

    .about-us {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 6rem 6rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .about-title {
        font-size: clamp(1.80rem,2.5vw,3rem);
        font-weight: bolder;
        text-align: center;
        padding: 2rem 0rem 0rem 0rem;
        color: var(--accent-color-btn);
    }

    .about-us-content {
        text-align: justify;
        padding: 2rem 2rem 2rem 2rem;
        line-height: 2.5rem;
        font-size: clamp(0.70rem, 3vw, 0.84rem);
    }

    .about-us-bg {
        background-color: var(--main-background);
        border-radius: 10px;
        overflow: auto;
    }

    /**/

    .contacts{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact-left-right {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        flex: 1 1 400px;
    }

    .contact-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-left-right h1 {
        text-align: center;
        font-size: clamp(1.80rem, 3vw, 3.74rem);
        color: var(--accent-color-btn);
    }

    .contact-left-right p {
        text-align: center;
        color: #000000;
        margin: 0;
        padding: 1rem;
    }

    .contact-num {
        width: 100%;
        justify-self: center;
    }

    .contact-num p {
        display: inline-block;
        width: 100%;
        padding: 1rem;
        text-wrap: wrap;
        font-size: clamp(1.80rem, 3vw, 3.74rem);
    }

    .contact-num p i {
        padding: 1rem;
    }

    .contact-num p:hover {
        color: #ff004f;
    }


    .social-icons {
        color: #262626;
        text-align: center;
        padding: 1rem;
    }

    .social-icons a {
        display: inline-block;
        padding: 1rem 1rem;
    }

    .social-icons a i {
        text-wrap: wrap;
        text-decoration: none;
        font-size: clamp(3rem, 4vw, 5rem);
        color: #000000;
        transition: transform 0.5s;
    }

    .social-icons a i:hover {
        color: #ff004f;
        transform: translateY(-5px);
    }

    .contact-btn {
        background: #ff004f;
        border-radius: 10px;
        transition: 0.5s;
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .contact-btn p {
        font-size: clamp(1.80rem, 3vw, 2rem);
        margin: 0;
        font-weight: 600;
        color: var(--text-color-1);
    }

    .contact-btn:hover{
        background: #dc0348;
    }
    .contact-right form {
        width: 100%;
    }

    form input, form textarea {
        width: 100%;
        outline: none;
        border: 0;
        padding: 1rem;
        margin: 15px 0;
        color: rgb(20, 20, 20);
        font-size: clamp(1.80rem, 3vw, 2rem);
        border-radius: 6px;
    }

    form .contact-btn {
        padding: 14px 60px;
        margin-top: 15px;
        cursor: pointer;
    }

    /*modal*/
      /* The modal's background overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* low opacity black */
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  /* Show the modal */
  .modal-overlay.active {
    display: flex;
  }

/* Modal content container */
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: relative;
  }
  /* Close button */
  .close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
  }

 /* Simple form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button[type="submit"] {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

}